#blog-article-container {
	@include outer-container;
	margin-top: 30px;
	h2 {
		color: transparentize(black, 0.15);
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 10px;
	}

	#blog-article-left {
		@include span-columns(8);
	}

	#blog-article-right {
		@include span-columns(4);
		
		h3 {
			color: transparentize(black, 0.15);
			margin-bottom: 10px;
		}

		li {
			list-style-type: none;
			margin-bottom: 5px;
		}

		a {
			text-decoration: none;
			color: transparentize(black, 0.15);
			&:hover {
				color: $base-color;
			}
		}
	}
}