configs/*
!configs/demo.ini
!configs/demo.csv
!configs/example/
files/statcounter/*
!files/statcounter/_backup/
.DS_Store
sitecreator/textsite/app/views/bb3-0/assets/.sass-cache/*
sitecreator/textsite/app/views/bb3-0-with-blog/assets/.sass-cache/*
sitecreator/textsite/app/views/bb4-0/assets/.sass-cache/*
sitecreator/textsite/app/views/bb5-0/assets/.sass-cache/*
cookie.txt