#blog-container {
	@include outer-container;
	margin-top: 30px;

	#blog-content {
		#blog-content-left {
			@include span-columns(8);
			#blog-list {
				margin-bottom: 20px;
				p {
					margin-bottom: 5px;
				}

				a {
					text-decoration: none;
					color: transparentize(black, 0.15);
					&:hover {
						color: $base-color;
					}
				}
			}
		}

		#blog-content-right {
			@include span-columns(4);

			h3 {
				color: transparentize(black, 0.15);
				margin-bottom: 10px;
			}

			li {
				list-style-type: none;
				margin-bottom: 5px;
			}

			a {
				text-decoration: none;
				color: transparentize(black, 0.15);
				&:hover {
					color: $base-color;
				}
			}
		}
	}
	
	#blog-pagination {
		@include span-columns(12);
	}	
}

